DATABASE_URL=[your supabase db url]
TMDB_API_KEY=[your tmdb api key]

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=[your clerk DEV pub key]
CLERK_SECRET_KEY=[your clerk DEV secret key]

STRIPE_SECRET_KEY=[your stripe DEV secret key]
STRIPE_WEBHOOK_SECRET=[your webhook secret from stripe cli]

# Που γυρνάει το Stripe μετά το checkout (success/cancel)
FRONTEND_URL=http://localhost:3000